@import '/src/scss/mixins/media';
@import '/src/scss/variables/variables';
@import '/src/scss/variables/font-size';
@import '/src/scss/mixins/mixin';

.currency {
  margin-top: 4.8rem;
  border-radius: 2.8rem;
  box-shadow: 0px 2px 4px 0px rgba(187, 187, 187, 0.2), 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.8) 8.055%, rgba(178, 178, 178, 0) 67.93%),
    rgba(244, 244, 244, 0.9);
  padding: 4.2rem 3.2rem 3.2rem 3.2rem;
  &__top {
    @include flexbox(row, space-between, center, 2rem);
    color: $black;
  }

  &__topUpdate {
    color: $black;
    font-size: $font-size-m;
    font-weight: 500;
    @include bigMobile {
      font-size: calc($font-size-m - 0.2rem);
    }
  }

  &__rate {
    font-size: 2rem;
  }

  &__rateHeader {
    margin-top: 3.4rem;
    color: $black;
    font-weight: 500;
    @include bigMobile {
      margin-top: 2.5rem;
      text-align: center;
    }
  }

  &__rateMiddle {
    margin: 2.3rem 0 3.8rem 0;
    @include flexbox(row, space-between, center, null);
    @include bigMobile {
      margin-top: 2.3rem;
      @include flexbox(column, space-between, center, 2rem);
    }
  }

  &__rateList {
    @include grid(repeat(2, 1fr) / repeat(3, 1fr), 3.2rem);
    @include bigMobile {
      @include grid(repeat(3, 1fr) / repeat(2, 1fr), 4rem);
    }
  }

  &__rateItem {
    display: inline-flex;
    gap: 2rem;
    color: $gray;
    font-weight: 700;
    &__name {
      color: $gray;
    }
    &__text {
      color: $black;
    }
  }

  &__rateBottom {
    color: $white;
    font-weight: 700;
  }
}
