@import '/src/scss/media';
@import '/src/scss/variables';

.currency {
  margin-top: 4.8rem;
  border-radius: 2.8rem;
  box-shadow: 0px 2px 4px 0px rgba(187, 187, 187, 0.2), 0px 0px 4px 0px rgba(0, 0, 0, 0.08);
  background: linear-gradient(0deg, rgba(178, 178, 178, 0.8) 8.055%, rgba(178, 178, 178, 0) 67.93%),
    rgba(244, 244, 244, 0.9);
  padding: 4.2rem 3.2rem 3.2rem 3.2rem;
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    color: $black;
  }

  &__topHeader {
    color: $black;
    font-size: 3rem;
    font-weight: 500;
  }

  &__topUpdate {
    color: $black;
    font-size: 1.6rem;
    font-weight: 500;
  }

  &__rateHeader {
    margin-top: 3.4rem;
    color: $black;
    font-size: 2rem;
    font-weight: 500;
  }

  &__rateMiddle {
    margin-top: 2.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 640px) {
      margin-top: 2.3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  }

  &__rateList {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 3.2rem;
    @media (max-width: 640px) {
      display: grid;
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
      gap: 4rem;
    }
  }

  &__rateItem {
    display: inline-flex;
    gap: 2rem;
    color: $gray;
    font-size: 2rem;
    font-weight: 700;
    &__name {
      color: $gray;
    }
    &__text {
      color: $black;
    }
  }

  &__rateBottom {
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 3.8rem;
  }
}
