@import '/src/scss/media';
@import '/src/scss/variables';

.newsForm {
  margin-top: 18rem;
  padding-bottom: 10rem;

  @include tablet {
    margin-top: 7rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__textBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    color: $black;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;

    @include tablet {
      gap: 2rem;
    }
  }

  &__header {
    color: $orange;
    font-size: 2.4rem;
  }

  &__text {
    font-weight: 500;
  }

  &__form {
    width: 460px;
    margin-top: 7rem;
    border-radius: 20px;
    box-shadow: 0px 10px 20px 0px rgba(54, 58, 120, 0.1);
    background: $white;

    @include tablet {
      margin-top: 4rem;
    }
    @include mobile {
      width: 330px;
    }
  }

  &__formWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.2rem 3.2rem;
    width: 100%;
    box-sizing: border-box;
  }

  &__formInput {
    flex: 1; /* Заполняет оставшееся место */
    min-width: 0; /* Предотвращает переполнение */
    padding-left: 1.2rem;
    font-size: 2rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;

    &::placeholder {
      color: $gray;
    }

    @include tablet {
      font-size: 1.6rem; /* Уменьшение шрифта на мобильных устройствах */
    }
  }

  &__formButton {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    padding: 1.3rem 2rem;
    border-radius: 2rem;
    background: rgb(104, 109, 241);
    color: $white;
    font-size: 1.6rem;
    font-weight: 700;

    @include tablet {
      padding: 10px;
      width: 40px;
      height: 40px;
      font-size: 0; /* Скрыть текст */
      border-radius: 50%; /* Делает кнопку круглой */
      gap: 0rem;
    }
  }
}
