@import '../../scss/media';
.header {
  margin-top: 7px;
  font-size: 16px;
  font-weight: 700;

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__navigateItems {
    display: flex;
    gap: 50px;
    @include tablet {
      display: none;
    }
  }
  &__navigateItem {
    a {
      color: rgba(29, 25, 41, 1);
      transition: 0.3s;
    }
    a:hover {
      color: rgb(178, 163, 95);
    }
  }
}
