@import '/src/scss/mixins/media';
@import '/src/scss/variables/variables';
@import '/src/scss/mixins/mixin';
@import '/src/scss/variables/font-size';

.advantages {
  font-family: Rubik;
  margin-top: 11.2rem;
  @include flexbox(row, space-between, center, 7.5rem);
  @include tablet {
    flex-direction: column;
    margin-top: 5rem;
    &__image {
      max-width: 30rem;
    }
  }

  &__content {
    @include flexbox(column, flex-start, stretch, 3.2rem);
  }
  &__header {
    color: $black;
    font-size: $font-size-l;
    font-weight: 500;
  }
  &__desc {
    color: $gray;
    font-size: $font-size-m;
    font-weight: 400;
  }
  &__list {
    @include flexbox(column, flex-start, stretch, 2rem);
  }
  &__item {
    @include flexbox(row, flex-start, center, 1.8rem);
  }
  &__itemText {
    color: $gray;
    font-size: $font-size-s;
    font-weight: 400;
  }
}
