@import '/src/scss/mixins/media';
@import '/src/scss/variables/variables';
.navigate {
  display: flex;
  gap: 5rem;
  @include tablet {
    display: none;
  }
  &__item {
    a {
      color: $black;
      transition: $transition-duration;
    }
  }
}
