@import '../../scss/media';
@import '/src/scss/variables';
.navigate {
  display: flex;
  gap: 5rem;
  @include tablet {
    display: none;
  }
  &__item {
    a {
      color: $black;
      transition: 0.3s;
    }
  }
}
