.map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 58px;
  color: rgba(28, 28, 30, 1);
  &__header {
    font-size: 30px;
    font-weight: 500;
  }
  &__text {
    margin-top: 35px;
    font-size: 16px;
    font-weight: 500;
  }
  &__image {
    margin-top: 55px;
    max-width: 100%;
    object-fit: cover;
  }
}
