@import './libs/fonts';
@import './libs/normalize';
@import './mixins/media';
@import './variables/variables';
@import './variables/font-size';
@import './mixins/mixin';

.wrapper {
  font-family: Ubuntu;
  background: $white;
  min-height: 100vh;
  @include grid(1fr 460px / 1fr, null);

  @include mobile {
    @include grid(1fr 500px / 1fr, null);
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: grid;
  grid-template: 64px 1fr/1fr;
}
.content {
  padding: 0 10px;
}

a {
  transition: $transition-duration;
  &:hover {
    color: $orange;
  }
}

button {
  cursor: pointer;
  transition: $transition-duration;
  &:hover {
    background: $light-blue;
  }
}

.link-blue {
  color: $white;
  border-radius: 1.6rem;
  background: $blue;
  padding: 1.6rem;
  font-size: $font-size-m;
  font-weight: 700;
  text-align: center;
  transition: $transition-duration;
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}
