@import './libs/fonts';
@import './libs/normalize';
@import './media';
@import './variables';

.wrapper {
  font-family: Ubuntu;
  background: $white;
  padding: 0 10px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 460px;
  @include mobile {
    grid-template-rows: 1fr 500px;
  }
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 130rem;
  display: grid;
  grid-template: 64px 1fr/1fr;
}

a {
  transition: 0.3s;
  &:hover {
    color: $orange;
  }
}

button {
  cursor: pointer;
  transition: 0.3s;
  &:hover {
    background: $light-blue;
  }
}

.link-blue {
  color: $white;
  border-radius: 1.6rem;
  background: $blue;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  transition: 0.3s;
  &:hover {
    background-color: $light-blue;
    color: $white;
  }
}
